@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,700;1,100;1,200;1,400;1,800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: hsl(0, 0%, 94%);
}

.container {
  max-width: 40rem;
  margin: 6rem auto;
  padding: 3rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 12px 12px 100px 12px;
  background-color: white;
}

input {
  padding: 0.5rem;
  font-size: 15px;
  font-weight: 800;
  border-radius: 5px;
  border: 0.5px hsl(0, 1%, 44%) solid;
  width: 8rem;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 11px;
  color: hsl(0, 1%, 44%);
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 9rem;
}

p {
  font-size: 9px;
  color: red;
  font-style: italic;
  display: none;
}

.shown {
  display: block;
}

.inputs-container {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

.submit-btn {
  background-color: hsl(259, 100%, 65%);
  border: none;
  padding: 0.7rem;
  border-radius: 50px;
  transition: all ease-in-out 0.2s;
}

.submit-btn:hover {
  background-color: black;
  cursor: pointer;
}

.hr-btn {
  display: flex;
  align-items: center;
}
hr {
  width: 100%;
}

span {
  color: hsl(259, 100%, 65%);
  font-size: 52px;
  font-weight: 800;
  letter-spacing: 4px;
}

.flex-container {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-style: italic;
  gap: 1rem;
}

.error {
  border-color: red;
  color: red;
}

@media (max-width: 430px) {
  .container {
    width: 21rem;
    padding: 1rem;
  }
  input {
    width: 5rem;
  }
  .flex-container {
    font-size: 25px;
    gap: 11px;
  }
  .span {
    font-size: 25px;
  }
}
